<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Rama Suresh Vijjana (Suresh VJ) | Data Scientist</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/coding.webp" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="print" onload="this.media='all'">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" media="print" onload="this.media='all'">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet" media="print" onload="this.media='all'">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" media="print" onload="this.media='all'">

  <!-- Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="static/assets/img/pfpic.jpeg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <h1 class="sitename" style="color: #ffffff;">Rama Suresh Vijjana (Suresh VJ)</h1>
    </a>

    <div class="social-links text-center">
      <a href="https://www.linkedin.com/in/suresh-vj/" class="linkedin" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/suresh____vj/" class="instagram" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://github.com/ramasureshvijjana" class="Github" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>
      </a>
    </div>
    

    
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#home" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#skills"><i class="bi bi-lightbulb navicon"></i> Skills</a></li>
        <li><a href="#resume"><i class="bi bi-briefcase navicon"></i> Work Experience</a></li>
        <li><a href="{{ url_for('projects') }}"><i class="bi bi-laptop navicon"></i> Projects</a></li>
        <li><a href="#certificate"><i class="bi bi-award navicon"></i> Certificate</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="home" class="home section dark-background">

      <img src="static/assets/img/background.webp" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up">
        <h2 style="color: #ffffff;">Rama Suresh Vijjana</h2>
        <p>I'm <span class="typed" style="color: #ffffff;" data-typed-items="AI/ML Engineer, Data Scientist">AI/ML Engineer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p class="fst-italic py-3">I am a highly driven individual who thrives on continuous learning and staying at the forefront of new technologies and methodologies. My passion for data science fuels my desire to constantly expand my skill set and take on new challenges. I enjoy solving complex problems and using data-driven insights to create meaningful solutions. With a commitment to growth, I seek opportunities to innovate, collaborate, and make a positive impact in every project I work on.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="static/assets/img/pic2.webp" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <!-- <h2>Data Scientist</h2> -->
            <p class="fst-italic py-3">
              My vision is to continue pushing the boundaries of data science by integrating cutting-edge AI technologies like NLP and deep learning to solve complex, real-world problems. I aim to harness the power of data to drive strategic decisions and innovative automation. As I advance in my career, I’m focused on combining my technical skills with a passion for data-driven insights to lead impactful projects in AI and machine learning.  
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 Feb 1997</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9618112602</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Gudapalli, AP</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Experience:</strong> <span>5</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.Tech</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ramasureshvj@gamil.com</span></li>
                </ul>
              </div>
            </div>
              <a href="https://drive.google.com/file/d/1c9t-VPPodrwizNsnunGPX9elwwOE6dA_/view?usp=drive_link" class="download-cv-btn" target="_blank" rel="noopener noreferrer">Download CV</a>
          </div>
            <p class="py-3">
            </p>
          </div>
        </div>
      </div>

    </section><!-- /About Section -->


    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <h5>Here is a comprehensive overview of the skills I have cultivated and demonstrated through my work and studies:</h5>
      </div><!-- End Section Title -->
    
      <div class="container" data-aos="fade-up" data-aos-delay="100">
    
        <div class="row skills-content">
    
          <div class="col-lg-6">
            <!-- Programming Languages -->
            <div class="skill-box">
              <h3>Programming Languages</h3>
              <div class="skill-list">
                <div class="skill-item"><img src="static/assets/img/skills/python.webp" alt="Python"> Python</div>
                <div class="skill-item"><img src="static/assets/img/skills/numpy.webp" alt="NumPy"> NumPy</div>
                <div class="skill-item"><img src="static/assets/img/skills/pandas.webp" alt="Pandas"> Pandas</div>
                <div class="skill-item"><img src="static/assets/img/skills/matplotlib.webp" alt="Matplotlib"> Matplotlib</div>
                <div class="skill-item"><img src="static/assets/img/skills/seaborn.webp" alt="Seaborn"> Seaborn</div>
                <div class="skill-item"><img src="static/assets/img/skills/sql.webp" alt="SQL"> SQL</div>
              </div>
            </div><!-- End Skill Box -->
    
            <!-- Machine Learning -->
            <div class="skill-box">
              <h3>Machine Learning</h3>
              <div class="skill-list">
                <div class="skill-item"><img src="static/assets/img/skills/llm.webp" alt="LLM"> LLM</div>
                <div class="skill-item"><img src="static/assets/img/skills/hugging-face1.webp" alt="Hugging Face"> Hugging Face</div>
                <div class="skill-item"><img src="static/assets/img/skills/NLP.webp" alt="NLP"> NLP</div>
                <div class="skill-item"><img src="static/assets/img/skills/opencv.webp" alt="opencv"> OpenCV</div>
                <div class="skill-item"><img src="static/assets/img/skills/time-series-analysis.webp" alt="Time Series"> Time Series</div>
                <div class="skill-item"><img src="static/assets/img/skills/scikit-learn.webp" alt="Scikit Learn"> Scikit-learn</div>
                <div class="skill-item"><img src="static/assets/img/skills/pytorch.webp" alt="PyTorch"> PyTorch</div>
                <div class="skill-item"><img src="static/assets/img/skills/statistics.webp" alt="Statistics"> Statistics</div>
              </div>
            </div><!-- End Skill Box -->
    
          </div>
          
          
          <div class="col-lg-6">
            
            <!-- Databases -->

            <div class="skill-box">
              <h3>Databases</h3>
              <div class="skill-list">
                <div class="skill-item"><img src="static/assets/img/skills/mysql.webp" alt="MySQL"> MySQL</div>
                <div class="skill-item"><img src="static/assets/img/skills/mongodb.webp" alt="MongoDB"> MongoDB</div>
                <div class="skill-item"><img src="static/assets/img/skills/cassandra.webp" alt="Cassandra"> Cassandra</div>
                <div class="skill-item"><img src="static/assets/img/skills/chromadb.webp" alt="ChromaDB"> ChromaDB</div>
              </div>
            </div><!-- End Skill Box -->

            <!-- Tools & Technologies -->
            <div class="skill-box">
              <h3>Tools & Technologies</h3>
              <div class="skill-list">
                <div class="skill-item"><img src="static/assets/img/skills/airflow.webp" alt="Airflow"> Airflow</div>
                <div class="skill-item"><img src="static/assets/img/skills/spark.webp" alt="Spark"> Spark</div>
                <div class="skill-item"><img src="static/assets/img/skills/aws.webp" alt="AWS"> AWS</div>
                <div class="skill-item"><img src="static/assets/img/skills/databricks.webp" alt="databricks"> Databricks</div>
                <div class="skill-item"><img src="static/assets/img/skills/sagemaker.webp" alt="SageMaker"> SageMaker</div>
                <div class="skill-item"><img src="static/assets/img/skills/data-wrangler.webp" alt="Data Wrangler">Data Wrangler</div>
                <div class="skill-item"><img src="static/assets/img/skills/s3.webp" alt="S3"> S3</div>
                <div class="skill-item"><img src="static/assets/img/skills/athena.webp" alt="Athena"> Athena</div>
                <div class="skill-item"><img src="static/assets/img/skills/vs-code.webp" alt="vs code"> vs code</div>
                <div class="skill-item"><img src="static/assets/img/skills/jupyter.webp" alt="jupyter"> jupyter</div>
                <div class="skill-item"><img src="static/assets/img/skills/git.webp" alt="git"> git</div>
              </div>
            </div><!-- End Skill Box -->
    
    
          </div>
    
        </div>
    
      </div>
    
    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <h5><p><em>ML Engineer with 5 years of experience in Python, Data Science, NLP, and AI. Skilled in developing and implementing predictive models, automating data workflows, creating CI/CD pipelines, and improving AI / ML models accuracy and efficiency. Proficient in advanced ML models, fine-tuning, and cloud platforms like Azure and GCP.</em></p></h5>
      </div><!-- End Section Title -->

      <div class="container">

          <h3 class="resume-title">Education</h3>
          <div class="resume-item justified-text">
            <h4>Bachilors of Technology on EEE</h4>
            <h5>2014 - 2018</h5>
            <p><em>JNTU, Kakinada, Andhra Pradesh</em></p>
            <p>I completed my B.Tech in Electrical and Electronics Engineering (EEE) with First Class Distinction, achieving a CGPA of 7.1.</p>
          </div><!-- Edn Resume Item -->

        <div class="row">  
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Data Scientist & NLP Engineer</h4>
              <h5>Apr 2022 - Present</h5>
              <p><em>TCS</em></p>
              <ul>
                <li>Fine-tuned LLM for tweet sentiment analysis for internal use and a collection-wise analysis achieving 94.7% accuracy.</li>
                <li>Created and automated a bot to scrape NFT-related tweets from over 100 hashtags, 1,000 users, and various keywords.</li>
                <li>Engineered a daily ETL pipeline to fetch, process, and store 10k+ tweets daily in a database.</li>
                <li>Employed Selenium automation on an SSH server to fetch and upload missing NFT images to the database, achieving a 100% availability rate for images displayed on our website.</li>
                <li>Configured an Airflow DAG to run every 5 minutes to monitor NFT prices of different blockchains.</li>
                <li>Optimized data pipelines in Azure DataBricks and PySpark, reducing data cleaning time by 25% and enhancing data quality by 15%.</li>
                <li>Designed charts and dashboards in Apache Superset, enhancing user experience and analysis efficiency by 30%.</li>
                <li>Detected patterns in the NFT market, and identified 35% of fraudulent transactions.</li>
              </ul>
            </div>
          </div>
          
          <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="resume-item">
              <h4>Data Engineer</h4>
              <h5>2022 - Present</h5>
              <p><em>bitsCrunch, Remote </em></p>
              <ul>
                <li>Fine-tuned LLM for tweet sentiment analysis for internal use and a collection-wise analysis achieving 94.7% accuracy.</li>
                <li>Created and automated a bot to scrape NFT-related tweets from over 100 hashtags, 1,000 users, and various keywords.</li>
                <li>Engineered a daily ETL pipeline to fetch, process, and store 10k+ tweets daily in a database.</li>
                <li>Employed Selenium automation on an SSH server to fetch and upload missing NFT images to the database, achieving a 100% availability rate for images displayed on our website.</li>
                <li>Configured an Airflow DAG to run every 5 minutes to monitor NFT prices of different blockchains.</li>
                <li>Optimized data pipelines in Azure DataBricks and PySpark, reducing data cleaning time by 25% and enhancing data quality by 15%.</li>
                <li>Designed charts and dashboards in Apache Superset, enhancing user experience and analysis efficiency by 30%.</li>
                <li>Detected patterns in the NFT market, and identified 35% of fraudulent transactions.</li>
              </ul>
            </div>
          </div> -->

        </div>

      </div>

    </section><!-- /Resume Section -->

    <!-- certificates Section -->

    <section id="certificate" class="portfolio section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Certicates</h2>
        <h5><p>Here is a collection of my certifications, showcasing my commitment to continuous learning and professional development.</p></h5>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="static/assets/img/certificates/Intro_to_chatgpt.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Data Engineering</h4>
                  <p></p>
                  <a href="static/assets/img/certificates/Intro_to_chatgpt.jpg" width="600" height="400" title="" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link" target="_blank" rel="noopener noreferrer"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->
    
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <!-- <p></p> -->
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <a href="tel:+917762911961">
                  <i class="bi bi-telephone flex-shrink-0"></i>
                </a>
                <div>
                  <h3>Call me</h3>
                  <p><a href="tel:+91 9618112602">+91 9618112602</a></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <a href="#" onclick="openGmail();">
                  <i class="bi bi-envelope flex-shrink-0"></i>
                </a>
                <div>
                  <h3>Email me</h3>
                  <p><a href="#" onclick="openGmail();">ramasureshvj@gmail.com</a></p>
                </div>
              </div><!-- End Info Item -->
              <script>
                function openGmail() {
                  window.open('https://mail.google.com/mail/?view=cm&fs=1&to=ramasureshvj@gmail.com', '_blank');
                }
              </script>

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                <a href="https://www.linkedin.com/in/suresh-vj" target="_blank">
                  <i class="bi bi-linkedin flex-shrink-0"></i>
                </a>
                <div>
                  <h3>LinkedIn</h3>
                  <p><a href="https://www.linkedin.com/in/suresh-vj" target="_blank">linkedin.com/in/suresh-vj</a></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Gudapalli, AP</p>
                </div>
              </div><!-- End Info Item -->
              
              
            </div>
          </div>

          <div class="col-lg-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.3413427670466!2d81.88016791771328!3d16.424221844495072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37e17561af08f1%3A0x7ebd31e5ac62bbe2!2sAnjaneyaswamy%20Temple%20Vijjana%20Vari%20Meraka%20Gudapalli!5e0!3m2!1sen!2sin!4v1732634146300!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" ></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js" defer></script>
  <script src="static/assets/vendor/aos/aos.js" defer></script>
  <script src="static/assets/js/main.js" defer></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js" defer></script>
  <script src="static/assets/js/project.js" defer></script>

  <!-- usefull for certificate zooming swipping and closing -->
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js" ></script>

  <script src="static/assets/vendor/php-email-form/validate.js" defer></script>
  <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" defer></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js" defer></script>


</body>

</html>